
body {
    color: #ecf0f1;
    background-color: #34495e;
}

.jumbotron {
    background-color: transparent;
    padding-left: 15px !important;
    padding-top: 0px;
}

.jumbotron h1 {
    margin-top: 0px;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-pills {
    display: flex;
    justify-content: center;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.05);
}

.interactive {
    cursor:pointer;
}

.nav-option {
    font-size: 35px;
    font-weight: bold;
    text-decoration:none;
    color: #ecf0f1;
    padding-top: 0px !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent; 
    color: #ecf0f1;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #e74c3c;
    background-color: transparent; 
    transform: scale(1.05);
}
