<!DOCTYPE html>
<html ng-app="mySite" ng-controller="NavController as vm" ng-cloak>

<head>
    <title>Román Maksimov - Photographer, Software Engineer</title>
    <!--Sources-->
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="description" content="My personal site. Connect with me!">
</head>

<body>


<nav class="navbar navbar-default" style="margin-bottom: 0px;">
    <div class="navbar-header" style="padding-top: 7px;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><img src="images/romaks_logo.png" ng-click="vm.setTab(1)" style="margin-bottom: 15px; padding-bottom: 5px;" class="displayed hvr-grow interactive logo" height="100"></a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="hvr-grow {{vm.checkActive(1)}}"><a ng-click="vm.setTab(1)" class="nav-option">about</a></li>
            <li class="hvr-grow {{vm.checkActive(2)}}"><a ng-click="vm.setTab(2)" class="nav-option">portraits</a></li>
            <li class="hvr-grow {{vm.checkActive(3)}}"><a ng-click="vm.setTab(3)" class="nav-option">lightwork</a></li>
            <li class="hvr-grow {{vm.checkActive(4)}}"><a ng-click="vm.setTab(4)" class="nav-option">prints</a></li>
            <li class="hvr-grow {{vm.checkActive(5)}}"><a ng-click="vm.setTab(5)" class="nav-option">resume</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-lg-12">

    </div>   
    <!-- Need to make an album view directive -->
    <!--<div class="col-md-4" ng-repeat="photo in vm.photos">
        <img class="list-image" ng-if="photo.url_z" ng-src="{{photo.url_z}}" alt="Description" />
    </div>-->

<!-- Create Single Photo viewer / scroller directive -->
<!--<div class="col-lg-12">
    <img id="currentImage" class="displayed" ng-if="vm.currentImage.url_l" ng-src="{{vm.currentImage.url_l}}" alt="Description" />
    <button ng-click="vm.changeImage(1)">    </button>
</div>-->

</div>

</body>

</html>