<!DOCTYPE html>
<html ng-app="mySite" ng-controller="NavController as vm" ng-cloak>

<head>
    <title>Román Maksimov - Photographer, Software Engineer</title>
    <!--Sources-->
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="description" content="My personal site. Connect with me!">
</head>

<body background="images/backdrop.jpg">

    <div class="container">
        <div class="jumbotron">
            <h1>
                <!--<img src="images/pic.png" style="padding-right: 15px" class="img-rounded hvr-grow interactive" width="200">-->
                <img src="images/romaks_logo.png" ng-click="vm.setTab(0)" style="margin-bottom: 15px;" class="img-rounded hvr-grow interactive" width="650">
</h1>
<ul class="nav nav-pills">
    <li class="hvr-grow interactive {{vm.checkActive(1)}}"><a ng-click="vm.setTab(1)" class="nav-option">about</a></li>
    <li class="hvr-grow interactive {{vm.checkActive(2)}}"><a ng-click="vm.setTab(2)" class="nav-option">photography</a></li>
    <li class="hvr-grow interactive {{vm.checkActive(3)}}"><a ng-click="vm.setTab(3)" class="nav-option">connect</a></li>
    <li class="hvr-grow interactive {{vm.checkActive(4)}}"><a ng-click="vm.setTab(4)" class="nav-option">resume</a></li>
</ul>
</div>
</div>

</body>

</html>