/*
 *******************
 * PAGE MAIN STYLE *
 *******************
*/

body {
  background: $themeColor-Light;
  user-select: none;
}

main {

}

/* HEADER */

header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;

  nav {
    float: right;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}

