/*
 *******************
 * PAGE MAIN STYLE *
 *******************
*/

body {
  // user-select: none;
} 

/* HEADER */

header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  position: fixed;
    top: 0;
    width: 100%;
    padding: 14px;

  nav {
    float: right;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}

