


@media screen and (min-width: 901px) {
    #hamburger {
        display: none !important;
    }
    #burger-options {
        display: none !important;
    }
}
    
@media only screen and (max-width: 900px) {
    // hide the other tab options
    .tab {
        display: none !important;
    }

    .header-content {
        padding-left: 25px;
        padding-right: 25px;
    }
}
