


@media screen and (min-width: 901px) {
    #hamburger {
        display: none !important;
    }
    #burger-options {
        display: none !important;
    }
}
    
@media only screen and (max-width: 900px) {
    // hide the other tab options
    .tab {
        display: none !important;
    }

    .header-content {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media only screen and (max-width: 700px) {
    // hide the other tab options
    .about-me {
        flex-direction: column !important;
        
        .about-me-content {
            padding-top: 5px !important;

            .by-line {
                font-size: 18px !important;
            }
        }
    
        img {
            margin-right: auto;
            margin-left: auto;
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
}
