


@media screen and (min-width: 901px) {
    #hamburger {
        display: none !important;
    }
    #burger-options {
        display: none !important;
    }
}
    
@media only screen and (max-width: 900px) {

    main .content-card {
        margin-left: 10px;
        margin-right: 10px;
    }

    // hide the other tab options
    .tab {
        display: none !important;
    }

    .by-line {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 700px) {

    // hide the other tab options
    .about-me {
        flex-direction: column !important;
        
        .about-me-content {

            .by-line {
                font-size: 18px !important;
            }
        }
    
        img {
            margin-right: auto;
            margin-left: auto;
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    .skills {
        .skills-content {
            flex-direction: column !important;

            .skills-section {
                width: 100% !important;
                margin-bottom: 10px;
            }
        }
    }
}
