$dark-color: #323031;
$light-color: #ecf0f1;
$gray-color: #bdc3c7;
$accent-color: #e74c3c;
$blue-color: #084C61;


$foco: foco, sans-serif;
$oswald: oswald, sans-serif;
$menco: menco, sans-serif;

$ease-out: ease-in-out 0.2s;