@import "variables";

/*--------------------------------------------------------------
# Normalize & Print
--------------------------------------------------------------*/
@import "normalize";
@import "print";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/**Optionally add Bootstrap to your project**/
/* @import "~bootstrap/scss/bootstrap"; */
@import "app";

/*--------------------------------------------------------------
# Responsive Bug Fixes
--------------------------------------------------------------*/
@import "media";


body {
    background: $dark-color;
}

main {
    padding-top: 20px;
    display: flex;
    justify-content: center;

    .content-card {
        height: 400px;
        width: 1024px;
        background: $gray-color;
        border-radius: 2px;
        box-shadow: 0 10px 6px -6px $dark-color;

        .tab-content {
            display: none; // gets set thru JS 
        }
    }
}

header {
    nav {
        line-height: 40px;
        li {
            margin-left: 20px;
            color: $light-color;
            font-family: menco, sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 27px;
            cursor: pointer;

            &:hover {
                color:$accent-color;
                transition: ease-in-out 0.2s;
                transform: scale(1.05);
                text-shadow: none;
            }
        }
        .active-tab {
            color:$accent-color;
            transition: ease-in-out 0.2s;
            transform: scale(1.05);
            text-shadow: none;
        }
    }

    .header-image-container {
        img {
            max-height: 35px;
        }
    }
}
