@import "variables";

/*--------------------------------------------------------------
# Normalize & Print
--------------------------------------------------------------*/
@import "normalize";
@import "print";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/**Optionally add Bootstrap to your project**/
/* @import "~bootstrap/scss/bootstrap"; */
@import "app";

/*--------------------------------------------------------------
# Responsive Bug Fixes
--------------------------------------------------------------*/
@import "media";


body {
    background: $dark-color;
}

.accent-text {
    color: $accent-color;
}

header {
    .header-content {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        width: $site-width;
    }
}

main {
    padding-top: 15px;
    display: flex;
    justify-content: center;

    .content-card {
        width: $site-width;
        background: $gray-color;
        border-radius: 2px;
        box-shadow: 0 10px 6px -6px $dark-color;

        .tab-content {
            display: none; // gets set thru JS
            transition: $ease-out;
        }
    }
}

.about-me {
    display: flex;
    flex-direction: row;
    .profile-image-container {
        img {
            max-height: 400px;
            border-radius: 2px;
        }
    }
    .about-me-content {
        padding:20px;
        padding-left: 30px;
        text-align: left;
        color: $dark-color;
        font-family: $foco;
        font-weight: 300;
        font-style: normal;

        .name {
            font-size: 30px;
            line-height: 45px;
        }
        .by-line {
            font-size: 20px;
            font-family: $oswald;

        }
        .description {
            font-size: 20px;
        }
        .ig-link {
            cursor: pointer;
            color: $light-color;
            font-size: 16px;
            margin-top: 20px;
            background:$blue-color;
            padding: 3px;
            border-radius: 2px;
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;

            &:hover {
                background: $alt-blue-color;
            }
        }
    }
}

.contact {
    width: 100%;
    .contact-content {
        padding: 15px;
        font-size: 30px;
        font-family: $foco;
        font-weight: 300;
        font-style: normal;
        color: $dark-color;

        .contact-link {
            cursor: pointer;
            display: flex;
            padding: 5px;

            .contact-icon {
                margin-right: 10px;
            }
            .contact-detail {

            }

            &:hover {
                color: $blue-color;
            }
        }
    }
}

header {
    nav {
        line-height: 40px;
        li {
            margin-left: 15px;
            color: $light-color;
            font-family: mr-eaves-modern, sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 30px;
            cursor: pointer;
            border-bottom: 2px solid $dark-color;

            &:hover {
                color:$accent-color;
                transition: $ease-out;
                transform: scale(1.05);
                text-shadow: none;
            }
        }
        .active-tab {
            color:$accent-color;
            transition: $ease-out;
            transform: scale(1.05);
            text-shadow: none;
            border-bottom: 2px solid $accent-color;
        }
    }

    .header-image-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        img {
            max-height: 25px;
        }
    }
}
